*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: 2s;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root{
    --gym-font-family: "Open Sans", sans-serif;
    --gym-font-optical-sizing: auto;
    --gym-font-weight: <weight>;
    --gym-font-style: normal;

}
 body{
    font-family: var(--gym-font-family);
 } 
nav{
    background-color:rgb(28, 1, 2);
    height:80px ;
    width:100% ; 
    position: fixed; 
}
#check{display: none;
}
.checkbtn{
    float: right;
    font-size: 30px;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.logo img{
    width: 150px;
    height: 100px;
    /* padding: 15px; */
    margin-bottom: 51rem;
    
}
.search{
    display: inline-block;
    font-size: 25px;
    text-rendering: auto;
    color: rgb(255, 255, 255);
}
.search a{
    color: rgb(255, 255, 255);
    font-size:large;
    line-height: 60px;
}
nav ul{
    float: right;
    margin-right: 60px;
}

nav ul li{
    display: inline-block;
    margin: 0 10px;
    line-height: 80px;
    font-family: var(--gym-font-family);
}
nav ul li a{
    padding:10px 13px ;
    color: rgb(255, 255, 255);
    font-size: 17px;
    border-radius: 10px 0px 10px 0px ;
}
a.active,a:hover{
    transition : 0.5s;
    letter-spacing: 1px;
    transform: scale(1.03);
    color: rgb(242, 97, 1);
}
.container{
    /* background-color:  rgb(10, 10, 10); */
    height: 500PX;
  background-color: aqua;
    }
    .container-box{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./STATIC/img/breadcrumb1-bg.jpg.webp);
         background-position: center;
      background-size: center;
        background-repeat: no-repeat;
        height: 500px;  
    }
    .box h2{ 
        display: inline-block;
        color: rgb(255, 255, 255);
        margin-top:3rem;
        align-items: center;
        width: 100%;
        text-align: center;
        /* text-decoration: underline; */
       }
       strong{
           color:rgb(243, 97, 0);
       }
       .box p{
           display: inline-block;
        color: rgb(255, 255, 255);
        margin-top:5rem;
        align-items: center;
        width: 100%;
        text-align: center;
        text-decoration: underline; 
        font-size:1rem;
    
       }
    .box{
     display: inline-block;
     color: rgb(255, 255, 255);
     margin-top:10rem;
     align-items: center;
     display: inline-block;
     width: 100%;
     text-align: center;
     text-decoration: underline;
    
    }
    strong{
        color:rgb(242, 97, 1);
    }
 
 .section1{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 700px;
 }   
 .Boxx{
display: grid;
grid-template-columns: repeat(3 ,1fr);
grid-gap:10px
 }
 .Boxx h3 {
    color: white;
  
 }
 .Boxx p{
    color: white;
 }
section{
        display: flex;
        padding: 10px 5%;
        text-align: center;
        align-items: center;
        height: 200px; 
        justify-content: center;
        background-color: rgb(136, 139, 141);
    }

.testimony{
    background-color: rgb(0, 0, 0);
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    height: 200px;
}
.Amenity{
        padding: 10px 5%;
        background-color: rgb(136, 139, 141);
        height: 300px;
        width: 100%;
        text-align: center;
       
}
.Amenity h1 {  
    text-align: center;
    align-items: center;
    justify-content: center; 
    margin-top: 10rem;
    color: black;
    
    
}
.Amenity span{
   display: inline-block;
   width: 60%; 
   color: black;

   
}
footer{
    height: 550px;
    background-color: rgb(0, 0, 0);
}
.footer{
display: flex;
min-height:500px;
justify-content: center;
padding: 1rem;
flex-wrap: wrap;
background-color: rgb(0, 0, 0);
min-width: 300px;

}
.footer-L{
width: 40%;
align-items: center;
color: white;
margin-top: 6rem;
height: 100%;
}
.footer-L span{
width: 100%;
}
.footer-R{
margin-top: 6rem;

}
.footer-R span{
color: white;
text-decoration: underline;

}
.footer-R1{
color: white;
margin-top: 6rem;
}
.footer-email input{
background-color:transparent;
width: 250px;
height: 40px;
color: white;
}
.footer-email label{
color: white;
}
.footer-email button{
color: white;  
}
#submit-2{
background-color:rgb(243, 97, 0);
border-radius: 20px;
border: 1px solid white;
width: 100px;
height: 20px;
}  
.wellness-logo img{
width: 200px;
height: 200px;
}
#copyright{
margin-top: 25px;
}
.copyright2{
color: white;
margin-bottom: 10px;
background-color: rgb(0, 0, 0);

}

#love{
color:rgb(243, 97, 0);
}
#Mr{
color: rgb(243, 97, 0);
}
.copyright2{
    color: white;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

#love{
    color:rgb(243, 97, 0);
}
#Mr{
    color: rgb(243, 97, 0);
}
@media (max-width:858px) {  
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgb(28, 1, 2);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50PX 0px;
        line-height: 30PX;
       
    }
    nav ul li a{
        font-size: 20px;
    
    }
    a:hover,a.active{
        background-color: none;
        
    }
       #check:checked ~ul{
        left: 0;
       }
     .section-bg  {
        margin-left: 1.5rem;
     }

     .contact-us{
        text-align: justify;
        width: 100%;
     }
     .box h2{
        font-size: 2rem;
     }
.contact-widget{
/* background-color: blue; */
text-align: center;
height: 300px;
width: 100%;
}
.section1{
    height: 100%;
}
.Boxx{
 display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap:10px;
   
     }
     .Boxx img{
        width: 350px;
        height: 300px;  
     }  
.footer{
min-height: 400px;
}

.footer-L{
width: 100%;
text-align: center;
}
.footer-R1 h2{
margin-bottom: 15px;
}
form input{
width: 350px;
height: 40px;


}
form textarea{
width: 350px;
height: 80px;}

form button{
width: 350px;
height: 40px;
}
}
@media (max-width :400px) {
form input{
    width: 320px;
    height: 40px;
}
form textarea{
    width: 320px;
    height: 80px;}
   
form button{
    width: 320px;
    height: 40px;
}  
section{
    text-align: justify;
    height: 550px;
    justify-content: center;
}

.Boxx img{
        width: 310px;
        height: 300px;  
    
     } 
}

